services:

  feedback-bot:
    build: ./
    image: registry.marx.guide/amb-public/amb-feedback-bot:${TAG}
    command: python feedbackbot/main.py
    restart: unless-stopped
    privileged: false
    user: 1000:100
    volumes:
      - ./data:/app/data
    env_file:
      - ./env/bot.env
    depends_on:
      - postgres
    cap_drop:
      - ALL
    cap_add:
      - NET_RAW
    security_opt:
      - no-new-privileges:true

  postgres:
    image: postgres:15-alpine
    restart: unless-stopped
    privileged: false
    expose:
      - 5432
    volumes:
      - postgres-data:/var/lib/postgresql/data
    env_file:
      - ./env/db.env
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
      - DAC_OVERRIDE
    security_opt:
      - no-new-privileges:true

volumes:
  postgres-data:

